body {
    background-color: #eee;
    font-family: Geneva, Arial, sans-serif;
}

#game {
    margin: 50px 0px 100px;
}

#intro, .utils {
    width: 350px;
    min-height: 50px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-top: 10px;
}

.game-grid {
    width: 430px;
    height: 460px;
    margin: auto;
    padding: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-row {
    height: 140px;
    width: 460px;
    margin-bottom: 20px;
}

.game-row:last-child {
    margin-bottom: 0px;
}

.button {
    float: left;
    width: 130px;
    height: 130px;
    margin-top: 0px;
    margin-right: 20px;
    border-width: 0px 1px 5px;
    border-color: #000;
    border-style: solid;
    border-radius: 10px;
}

.button:active {
    border-width: 0px 1px 1px;
    margin-top: 6px;
}

.button:last-child {
    margin-right: 0px;
}

.on {
    background-color: #9e9;
    border-color: #6a6;
}
.off {
    background-color: #e9e;
    border-color: #a6a;
}

#message {
    float: left;
    width: 150px;
    line-height: 50px;
    text-align: center;
}

.reset {
    float: right;
    width: 100px;
    line-height: 36px;
    margin: 7px 10px;
    border-width: 0px 0px 2px;
    border-color: #000;
    border-style: solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
}

.reset:active {
    border-width: 0px 0px 1px;
    margin-top: 10px;
}

.colorchoice {
    line-height: 24px;
    margin: 20px auto;
    text-align: center;
}

.colorchoice div {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.colorchoice span:not(:first-child) {
    margin: 0 4px;
}

.about {
    width: 450px;
    margin: 50px auto;
}

#midnightLeft, #midnightRight,
#daylightLeft, #daylightRight,
#pastelLeft, #pastelRight,
#monochromeLeft, #monochromeRight,
#checkersLeft, #checkersRight,
#gentlepinkleLeft, #gentlepinkleRight,
#purpledragonLeft, #purpledragonRight,
#silvergoldLeft, #silvergoldRight,
#happysaplingLeft, #happysaplingRight,
#whitegoldLeft, #whitegoldRight {
    width: 12px;
}

#midnightLeft, #daylightLeft, #pastelLeft, #monochromeLeft,
#checkersLeft, #gentlepinkleLeft, #purpledragonLeft, #silvergoldLeft,
#happysaplingLeft, #whitegoldLeft {
    border-radius: 4px 0 0 4px;
    margin-right: -5px;
}

#midnightRight, #daylightRight, #pastelRight, #monochromeRight,
#checkersRight, #gentlepinkleRight, #purpledragonRight, #silvergoldRight,
#happysaplingRight, #whitegoldRight {
    border-radius: 0 4px 4px 0;
}

#midnightLeft        { background-color: #1A525C; }
#midnightRight       { background-color: #483078; }

#daylightLeft        { background-color: #fdcb33; }
#daylightRight       { background-color: #9ED54C; }

#pastelLeft          { background-color: #FF99CC; }
#pastelRight         { background-color: #66EE88; }

#monochromeLeft      { background-color: #444444; }
#monochromeRight     { background-color: #EEEEEE; }

#checkersLeft        { background-color: #CF0404; }
#checkersRight       { background-color: #332A3C; }

#gentlepinkleLeft    { background-color: #FFACDA; }
#gentlepinkleRight   { background-color: #A164FF; }

#purpledragonLeft    { background-color: #BC5DF0; }
#purpledragonRight   { background-color: #FFCD5E; }

#silvergoldLeft      { background-color: #8EAEC3; }
#silvergoldRight     { background-color: #FFC422; }

#happysaplingLeft    { background-color: #18AB47; }
#happysaplingRight   { background-color: #C0FF9A; }

#whitegoldLeft       { background-color: #FFFCE8; }
#whitegoldRight      { background-color: #FFD273; }


        /* MIDNIGHT COLORS */

body.midnight {
    background-color: #202024;
    color: #ABB3B6;
}

.midnight a {
    color: #A9B0B3;
}

.midnight .on,
.midnight .reset {
    background-color: #0D8185;
    border-color: #1A525C;
}

.midnight .off {
    background-color: #483078;
    border-color: #301860;
}

.midnight .utils {
    background-color: #483078;
}

        /* DAYLIGHT COLORS */

body.daylight {
    background-color: #bce8e9;
    color: #505080;
}

.daylight a {
    color: #505080;
}

.daylight .on,
.daylight .reset {
    background-color: #fdcb33;
    border-color: #efa61a;
}

.daylight .off {
    background-color: #9ED54C;
    border-color: #59A80F;
}

.daylight .utils {
    background-color: #9ED54C;
}

        /* PASTEL COLORS */

body.pastel {
    background-color: #ee9;
    color: #8b3d68;
}

.pastel a {
    color: #8b3d68;
}

.pastel .on,
.pastel .reset {
    background-color: #f9c;
    border-color: #c69;
}

.pastel .off {
    background-color: #6e8;
    border-color: #3a6;
}

.pastel .utils {
    background-color: #6e8;
}

        /* MONOCHROME COLORS */

body.monochrome {
    background-color: #888;
    color: #eee;
}

.monochrome a {
    color: #eee;
}

.monochrome .on,
.monochrome .reset {
    background-color: #444;
    border-color: #222;
}

.monochrome .off {
    background-color: #eee;
    border-color: #bbb;
}

.monochrome .utils {
    background-color: #bbb;
}

    /* CHECKERS COLORS */

body.checkers {
    background-color: #AFBCC3;
    color: #332A3C;
}

.checkers a {
    color: #332A3C;
}

.checkers .on,
.checkers .reset {
    background-color: #CF0404;
    border-color: #630000;
}

.checkers .off {
    background-color: #332A3C;
    border-color: #040009;
}

.checkers .utils {
    background-color: #040009;
}

    /* GENTLE PINK COLORS */

body.gentlepinkle {
    background-color: #E0D3FF;
    color: #A164FF;
}

.gentlepinkle a {
    color: #A164FF;
}

.gentlepinkle .on,
.gentlepinkle .reset {
    background-color: #FFACDA;
    border-color: #ED5493;
}

.gentlepinkle .off {
    background-color: #A164FF;
    border-color: #6527C6;
}

.gentlepinkle .utils {
    background-color: #6527C6;
}

    /* PURPLE DRAGON COLORS */

body.purpledragon {
    background-color: #2D0B4B;
    color: #FFCD5E;
}

.purpledragon a {
    color: #FFCD5E;
}

.purpledragon .on,
.purpledragon .reset {
    background-color: #BC5DF0;
    border-color: #6400A8;
}

.purpledragon .off {
    background-color: #FFCD5E;
    border-color: #FF8B19;
}

.purpledragon .utils {
    background-color: #FF8B19;
}

    /* SILVER GOLD COLORS */

body.silvergold {
    background-color: #EFF3E1;
    color: #FFC422;
}

.silvergold a {
    color: #FFC422;
}

.silvergold .on,
.silvergold .reset {
    background-color: #8EAEC3;
    border-color: #476E8A;
}

.silvergold .off {
    background-color: #FFC422;
    border-color: #E77602;
}

.silvergold .utils {
    background-color: #E77602;
}

    /* THAT'S A HAPPY SAPLING COLORS */

body.happysapling {
    background-color: #85C2ED;
    color: #C0FF9A;
}

.happysapling a {
    color: #C0FF9A;
}

.happysapling .on,
.happysapling .reset {
    background-color: #18AB47;
    border-color: #00603E;
}

.happysapling .off {
    background-color: #C0FF9A;
    border-color: #72B747;
}

.happysapling .utils {
    background-color: #72B747;
}

    /* WHITE GOLD COLORS */

body.whitegold {
    background-color: #2B2D3F;
    color: #FFD273;
}

.whitegold a {
    color: #FFD273;
}

.whitegold .on,
.whitegold .reset {
    background-color: #FFFCE8;
    border-color: #FFD073;
}

.whitegold .off {
    background-color: #FFD273;
    border-color: #F08014;
}

.whitegold .utils {
    background-color: #F08014;
}